Flask==0.10.1
Flask-SQLAlchemy==0.16
Jinja2==2.7
MarkupSafe==0.18
Pygments==1.6
SQLAlchemy==0.8.1
Werkzeug==0.9.1
bcrypt==1.0.2
bpython==0.12
cffi==0.6
distribute==0.6.34
itsdangerous==0.21
pycparser==2.09.1
